<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="show_sql">false</property>
        <property name="hibernate.connection.datasource">java:comp/env/jdbc/P2S_DB__pm</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.connection.autocommit">true</property>
        <mapping class="com.app.plan2see.model.db.Event"/>
        <mapping class="com.app.plan2see.model.db.Client"/>
        <mapping class="com.app.plan2see.model.db.Term"/>
        <mapping class="com.app.plan2see.model.db.EventTerm"/>
        <mapping class="com.app.plan2see.model.db.ClusteringHistory"/>
        <mapping class="com.app.plan2see.model.db.ClusteringTerms"/>
        <mapping class="com.app.plan2see.model.db.Cluster"/>
        <mapping class="com.app.plan2see.model.db.TTestTerm"/>
    </session-factory>
</hibernate-configuration>